body {
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
img {
    padding: 40px 0;
    max-width: 450px;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto 40px auto;
    padding: 0;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: calc(100% - 370px);
    margin: 100px 90px;
}
/* about me section */
.about-me {
    margin-bottom: 40px;
}
.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0 0 20px 0;
}
.my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin-bottom: 25px;
}
/* about me description */
.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* Main content titles */
.name-section {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}
/* Projests styling */
.my-projects {
    margin-bottom: 50px;
}
.my-projects-list {
    padding: 0 0 0 17px;
}
.my-projects-item {
    color: black;
    font-weight: bold;
}
.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
/* My work experence */
.my-work-experience-info-one-position {
    margin: 0 15px 0 0;
}
.my-work-experience-company {
    color: #fb6d3a;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin: 0 0 10px 0;
}
.work-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin: 0 0 10px 0;
}
.my-work-experience-divider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}
.my-work-experience-duties {
    padding-left: 18px;
}
.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* My education */
.my-education {
    margin-top: 45px;
}
.name-education-section {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}
.name-education-place {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
    margin-bottom: 10px;
}
.name-education-direction {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.education-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}
.my-education-time-diveder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
/* sidebar style */
.aside-content-margin {
    margin-left: 40px;
}
.sidebar-container {
    background-color: #1e2939;
}
.aside-name-section {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}
/* Contacts style */
.content-contacts {
    font-style: normal;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 24px;
    color: #fb6d3a;
}
.contact-link {
    /* color: #595959; */
    color: white;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 7px;
}

/* Tech skills & Soft skills style */
.skills-list {
    padding: 0 0 0 17px;
}
.skills-item {
    color: #fb6d3a;
}
.skills-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

@media only screen and (max-width: 450px){
    .main-container{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        margin: 0; 
    }
    .about-me-description{
        width: 95%;
    }
    /* aside styling mobile */
    .aside-content-margin{
        margin-left: 20px;
    }
    .my-name{
        color: whitesmoke;
    }
    .about-me-description{
        color: whitesmoke;
    }
    .img{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    /* main content styling */
    .main-content{
        width: 95%;
        margin: 0px;
        padding-left: 10px;
        margin-left: 10px;
    }
    .about-me-new-style{
        /* margin: top right bottom left */
        margin: auto 20px auto 20px; 
    }
    

}